<div class ="row">
    <div class="col s12">
        <div class="card">
            <div class ="card-content white-text">
                <div class="row">
                    <div class="col s5">
                        <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter full name" required/>
                                    
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Enter position" required/>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter office" required/>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Enter salary" required/>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button mat-raised-button color="primary" [disabled]="!employeeForm.valid">Submit</button>
                                    <button mat-raised-button color="primary" (click)="resetForm(employeeForm)">Reset</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s5">
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                </tr>
                                </thead>
                            <tr *ngFor="let emp of employeeService.employees">
                                <td>{{emp.name}}</td>
                                <td>{{emp.position}}</td>
                                <td>{{emp.office}}</td>
                                <td>
                                    <a class="action-btn" (click)="onEdit(emp)">
                                        <button mat-raised-button color="primary">Edit</button>
                                    </a>
                                    <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                                        <button mat-raised-button color="primary">Delete</button>
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
